*.DS_Store
*.pyc
*.swp
*.pem
*.ipynb
*.egg-info
*.ruby-version
manifest.txt
missing-metadata.txt
dist
build
output*
datasets
iiif-downloads
.ipynb_checkpoints
models
geo
!pixplot/web/assets/vendor/dist/
