<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css'>
    <title>Visualizing Image Fields</title>
    <meta name='author' content='Douglas Duhaime'>
  </head>
  <body>
    <header class='header'>
      <img class='logo' src='/assets/images/dhlab-logo.svg' alt='DHLab logo' />
      <div class='app-name'>PixPlot</div>
      <div class='tagline'>Image fields in the Meserve-Kunhardt Collection</div>
    </header>
    <div id='loader'>0%</div>
    <nav>
      <div class='nav-inner'>
        <h2>Hotspots</h2>
        <div id='hotspots'></div>
        <script type='text/html' id='template'>
          <% _.forEach(hotspots, function(hotspot) { %>
            <div class='hotspot'>
              <div class='background-image'
                style='background-image: url(/output/thumbs/128px/<%= hotspot.img %>)'></div>
              <div><%= hotspot.label %></div>
            </div>
          <% }); %>
        </script>
      </div>
    </nav>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
    <script type='text/javascript' src='/assets/js/object-assign-polyfill.js'></script>
    <script type='text/javascript' src='/assets/js/tween.js'></script>
    <script type='text/javascript' src='/assets/js/trackball-controls.js'></script>
    <script type='text/javascript' src='/assets/js/texture-loader.js'></script>
    <script type='text/javascript' src='/assets/js/tsne-webgl.js'></script>
    <script type='text/javascript' src='/assets/js/ga.js'></script>
  </body>
</html>