* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body,
html,
canvas {
  overflow: hidden;
  height: 100%;
}

body,
html {
  background: #111;
  touch-action: none;
}

a {
  text-decoration: none;
  color: #eab755;
  display: inline-block;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  color: #333131;
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #c3c3c3;
  background-image: url(../images/icons/caret-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95%;
  min-width: 120px;
  max-width: 200px;
  transition: opacity 0.3s;
}

select::-ms-expand {
  display: none;
}

select:disabled {
  cursor: default;
  opacity: 0.4;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
* Canvases
**/

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#canvas-target {
  position: absolute;
  top: -60px;
  right: -90px;
  bottom: -90px;
  left: -90px;
}

#lod-canvas {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 1;
  background: #000;
  max-height: 90%;
}

#character-canvas {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 1;
}

#pixplot-canvas {
  height: 100%;
  width: 100%;
}

#pixplot-canvas.pan {
  cursor: grab;
}

#pixplot-canvas.pan:active {
  cursor: grabbing;
}

#pixplot-canvas.select {
  cursor: crosshair;
}

#stats {
  position: absolute;
  top: 60px;
  left: 106px;
  width: 80px;
}

/**
* Header
**/

#header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
  overflow: hidden;
  box-shadow: 2px 1px 2px rgba(39, 39, 39, 0.2);
  font-size: 0;
}

#header,
#logo {
  background: #333;
}

#logo {
  width: 40px;
  padding: 10px;
  height: 40px;
}

#app-name {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 18px 34px;
  box-sizing: border-box;
  font-weight: 300;
  background: #444;
  color: #fff;
  font-size: 21px;
  letter-spacing: 0.1em;
}

@media(max-width: 335px) {
  #header #logo {
    display: none;
  }

  #header .app-name {
    width: 100%;
    text-align: center;
    padding: 18px 0;
  }
}

/**
* Header Controls
**/

#header-controls {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  min-width: 280px;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: right;
}

#filters {
  vertical-align: top;
  position: relative;
  top: 0;
  display: inline-block;
  margin: 0 10px;
}

/**
* Range slider
**/

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #c3c3c3;
  outline: none;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #eee;
  cursor: pointer;
  border-radius: 18px;
}

#range-slider {
  margin-right: 10px;
  width: 100px;
  display: inline-block;
}

#range-slider label {
  color: #c3c3c3;
  font-size: 9px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
}

#pointsize-range-input {
  margin-top: 6px;
}

/**
* Dual range slider
**/

#date-slider {
  height: 6px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 16px;
  margin-left: 10px;
}

#date-slider .noUi-connect {
  background: #eab755;
}

#date-slider .noUi-handle {
  background: #eee;
  box-shadow: none;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  right: -8px;
  border: 1px solid #888;
}

#date-slider .noUi-handle::before,
#date-slider .noUi-handle::after {
  display: none;
}

#date-slider .noUi-tooltip {
  font-size: 9px;
  padding: 0;
  margin-bottom: 1px;
  border: 1px solid transparent;
  background: transparent;
  color: #c4c4c4;
}

/**
* Icons
**/

#icons {
  display: inline-block;
  vertical-align: top;
}

#icons img {
  width: 21px;
  margin: 0 8px;
  opacity: 0.2;
  cursor: pointer;
  vertical-align: top;
}

#icons img.active {
  opacity: 1;
}

#layout-date {
  display: none;
}

/**
* Jitter
**/

#jitter-container {
  position: absolute;
  top: 77px;
  right: 20px;
  z-index: 1;
  background: #444;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  color: #dedede;
  font-family: courier;
  text-transform: uppercase;
  transition: opacity 0.5s;
  opacity: 0;
}

#jitter-container.visible {
  opacity: 1;
}

#jitter-container.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

#jitter-container,
#jitter-container * {
  cursor: pointer;
}

/**
* Nav
**/

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 106px;
  height: auto;
  box-sizing: border-box;
  padding: 60px 0 0;
  background: rgba(17,17,17,0.95);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  color: #ddd;
  opacity: 1;
  cursor: default;
}

.nav-inner {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
  background: #222;
  transition: opacity 0.5s;
}

nav.disabled .nav-inner {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.nav-inner::-webkit-scrollbar {
  -webkit-appearance: none;
}

nav h2 {
  font-size: 0.9em;
  line-height: 1.05em;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}

#hotspots {
  width: 75px;
  padding-bottom: 25px;
}

.hotspot {
  padding: 6px 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 75px;
  font-size: 13px;
}

.hotspot img {
  width: 100%;
}

/**
* Loader
**/

#loader-scene {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 40px;
  padding-top: 120px;
  transition: transform 1s;
  z-index: 3;
  background: #000;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loader-scene.hidden {
  transform: translateY(-100%);
}

#loader-text {
  margin: 10px -50px;
  text-align: center;
}

.welcome {
  max-width: 700px;
  margin: 0 auto;
}

@keyframes exit {
  0% {
    transform: translateX(0);
    animation-iteration-count: 1;
  }
  1% {
    transform: translateX(500vw);
    animation-iteration-count: 1;
  }
}


/**
* Loader icon
**/

.loader-container {
  max-width: 70px;
  margin: 30px auto;
  text-align: center;
}

.loader-icon {
  width: 70px;
  height: 70px;
}

.block {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #eab755;
  transition: all 0.8s;
  animation: rot 5s linear infinite;
  animation-fill-mode: forwards;
}

.block:nth-child(1) {
  animation-delay: 3s;
}

.block:nth-child(2) {
  animation-delay: 1.5s;
  animation: rot 15s linear infinite;
}

.block:nth-child(3) {
  animation-delay: 2s;
}

.block:nth-child(4) {
  animation-delay: 0.2s;
}

.block:nth-child(5) {
  animation-delay: 4s;
}

.block:nth-child(6) {
  animation-delay: 2s;
  animation: rot 7s linear infinite;
}

.block:nth-child(7) {
  animation-delay: 0.4s;
}

.block:nth-child(8) {
  animation-delay: 1.5s;
  animation: rot 6s linear infinite;
}

.block:nth-child(9) {
  animation-delay: 25s;
  animation: rot 8s linear infinite;
}

@keyframes rot {
  0% {
    transform: none;
  }
  20% {
    transform: rotateZ(-90deg) rotateY(180deg);
  }
  40% {
    background: chocolate;
    transform: none;
  }
  60% {
    background: white;
  }
  80% {
    background: cornflowerblue;
  }
  90% {
    transform: none;
    background: #222;
  }
}

/**
* Enter button
**/

button {
  border: none;
  background: #eab755;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.4;
  transition: opacity .3s;
  cursor: pointer;
}

button.active {
  opacity: 1;
}

/**
* Browser messages
**/

#webgl-not-available {
  text-align: center;
  display: none;
}

noscript {
  text-align: center;
  display: block;
  width: 100%;
}

.browser-message {
  position: relative;
  top: 90px;
  z-index: 2;
  background: #c62d1e;
  color: #fff;
  padding: 12px 17px;
  font-size: 17px;
}

/**
* Shared modal styles
**/

.modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-top {
  padding: 60px 10%;
  flex: 1;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  height: calc(100vh - 175px);
}

.modal-top h2 {
  font-weight: 100;
  color: #666;
  text-align: center;
  font-size: 25px;
}

.modal-top p {
  font-size: 14px;
  margin: 10px 0 20px;
  text-align: center;
}

.modal-top-content {
  padding: 40px;
  background: #eee;
  box-sizing: border-box;
}

.modal-bottom {
  background: #eee;
  padding: 20px 10%;
  font-size: 12px;
  box-sizing: border-box;
  height: 115px;
}

.modal-bottom-content {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-bottom-content b {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 15px;
}

/**
* Selected Image modal
**/

#selected-image-target {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.98);
  z-index: 10;
  display: none;
}

#selected-image,
#previous-image {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #222;
}

#previous-image {
  display: none;
}

#selected-image-target .modal-content {
  justify-content: center;
}

#selected-image-target .modal-top-content {
  background: transparent;
  height: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#selected-image {
  padding: 25px;
  background-color: #333;
}

.image-caret {
  position: absolute;
  height: 80px;
  background-color: transparent;
  top: 50%;
  margin-top: -40px;
  cursor: pointer;
  opacity: 0.6;
}

#caret-left {
  left: -150px;
}

#caret-right {
  right: -150px;
  transform: rotate(180deg);
}

/**
* Selected Image Actions
**/

.icons {
  display: inline-block;
  width: 40px;
  position: absolute;
  bottom: 25px;
  right: -50px;
  white-space: initial;
}

.icons a {
  height: 32px;
  width: 32px;
  background: #cecbcb;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px;
}

.icons img {
  width: 100%;
}

/**
* Selected Image Meta
**/

#selected-image-meta {
  text-align: left;
  color: #555;
  height: 115px;
  z-index: 1;
}

.meta-content {
  padding: 24px 40px;
  transition: transform 0.3s;
}

#image-title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
}

#image-text {
  font-size: 13px;
  font-weight: 400;
  max-height: 73px;
  overflow: auto;
}

#image-date {
  margin-left: 4px;
}

.modal-text-left {
  flex: 0.5;
  display: inline-block;
  padding-right: 50px;
  box-sizing: border-box;
}

.modal-text-right {
  flex: 0.5;
  display: inline-block;
  vertical-align: top;
}

#meta-tags {
  margin: 0 -2px 10px;
}

.meta-tag {
  display: inline-block;
  padding: 4px 6px;
  margin: 2px;
  background: #d3d3d3;
  color: #777;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .modal-text-left {
    width: 100%;
  }

  .modal-text-right {
    width: 100%;
  }
}

/**
* Multi-image Selection
**/

#selection-icons {
  position: absolute;
  bottom: 10px;
  right: 12px;
  display: inline-block;
  width: 30px;
  padding: 0 5px;
  background: #222;
  border-radius: 4px;
}

#selection-icons img {
  display: block;
  padding: 7px;
  background: lightgray;
  border-radius: 6px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
  opacity: 0.4;
  cursor: pointer;
}

#selection-icons img.active {
  opacity: 1.0;
}

#selection-icons img:hover {
  background: #eab755;
  opacity: 1.0;
}

/**
* Multi-image Modal
**/

#view-selected {
  display: none;
  position: absolute;
  bottom: 16px;
  right: 56px;
  z-index: 1;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.02em;
  transition: opacity 0.5s;
  background: #222;
  border: 2px solid #eab755;
  color: #eab755;
}

#view-selected:hover {
  background: #eab755;
  color: #222;
  cursor: pointer;
}

#selected-images-modal {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #111;
  overflow: auto;
  display: none;
}

#selected-images-grid {
  display: flex;
  flex-wrap: wrap;
}

#selected-images-target {
  max-height: 100%;
  overflow: auto;
}

.selected-image {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.125em solid #707070;
  background: #222;
}

.selected-image .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0.125px;
  box-sizing: border-box;
}

.selected-image .background-image.unselected {
  opacity: 0.1;
}

#selected-images-grid:hover .toggle-selection {
  opacity: 1;
}

.toggle-selection {
  position: absolute;
  z-index: 10;
  color: #fff;
  background: #000;
  width: 18px;
  height: 18px;
  top: 5px;
  right: 5px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 10px;
  line-height: 18px;
  opacity: 0;
  transition: opacity 0.3s;
}

input[type=text] {
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  min-width: 120px;
}

#download-link {
  vertical-align: top;
}

#download-link button {
  display: inline-block;
  margin-left: -5px;
  padding: 0.733em 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  vertical-align: top;
  height: 40px;
}

#selected-images-modal input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 40px;
  box-sizing: border-box;
}

#selected-images-modal .modal-text-right {
  white-space: nowrap;
}

#selected-images-count {
  position: absolute;
  bottom: 56px;
  right: 64px;
  z-index: 1;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  padding: 10px;
  background: #222;
  display: none;
}

#count-target {
  color: #eab755;
  font-weight: 800;
  text-align: center;
  font-size: 20px;
}

#download-as {
  margin-top: 10px;
}

#download-as span {
  margin-right: 2px;
}

#download-as button {
  opacity: 1;
  background-color: #d2d2d2;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  margin: 2px;
}

#download-as button.active {
  background-color: #eab755;
}