<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='assets/css/style.css'>
    <title>Visualizing Image Fields</title>
    <meta charset='utf-8'/>
    <meta name='author' content='Douglas Duhaime'>
  </head>
  <body>
    <script type='x-shader/x-vertex' id='vertex-shader'>
    /**
    * The vertex shader's main() function must define `gl_Position`,
    * which describes the position of each vertex in screen coordinates.
    *
    * To do so, we can use the following variables defined by Three.js:
    *   attribute vec3 position - stores each vertex's position in world space
    *   attribute vec2 uv - sets each vertex's the texture coordinates
    *   uniform mat4 projectionMatrix - maps camera space into screen space
    *   uniform mat4 modelViewMatrix - combines:
    *     model matrix: maps a point's local coordinate space into world space
    *     view matrix: maps world space into camera space
    *
    * `attributes` can vary from vertex to vertex and are defined as arrays
    *   with length equal to the number of vertices. Each index in the array
    *   is an attribute for the corresponding vertex. Each attribute must
    *   contain n_vertices * n_components, where n_components is the length
    *   of the given datatype (e.g. for a vec2, n_components = 2; for a float,
    *   n_components = 1)
    * `uniforms` are constant across all vertices
    * `varyings` are values passed from the vertex to the fragment shader
    *
    * For the full list of uniforms defined by three, see:
    *   https://threejs.org/docs/#api/renderers/webgl/WebGLProgram
    **/

    #version 100
    #define SHADER_NAME instancedVertex
    #define SELECTING

    // set float precision
    precision highp float;

    uniform mat4 modelViewMatrix;
    uniform mat4 projectionMatrix;
    uniform vec3 cameraPosition;
    uniform float transitionPercent;
    uniform float pointScale;

    attribute vec3 position;      // base x y z position for all points
    attribute vec3 pos0;          // x y z position offsets for an instance
    attribute vec3 pos1;          // x y z position to which we're transitioning
    attribute vec3 color;         // unique color for cell; used for raycasting
    attribute float width;        // px width of cell in lod texture
    attribute float height;       // px height of cell in lod texture
    attribute vec2 offset;        // px offset in tex from left, top
    attribute float opacity;      // opacity value for cell
    attribute float textureIndex; // index of an instance's texture among all textures

    varying vec3 vColor;          // cell color
    varying vec2 vOffset;         // px of cell offset left, top in texture
    varying float vWidth;         // px width of cell in lod texture
    varying float vHeight;        // px height of cell in lod texture
    varying float vOpacity;       // cell opacity
    varying float vTextureIndex;  // cell texture idx (varyings can't be int)

    void main() {
      // pass varyings to fragment shader
      vTextureIndex = textureIndex;
      vColor = color;
      vWidth = width;
      vHeight = height;
      vOffset = offset;
      vOpacity = opacity;

      // set point position as a mixture between the position + target
      vec3 pos0 = position + pos0;
      vec3 pos1 = position + pos1;
      vec3 pos = mix(pos0, pos1, clamp(transitionPercent, 0.0, 1.0));
      vec4 world = modelViewMatrix * vec4(pos, 1.0);
      gl_Position = projectionMatrix * world;

      // use the unscaled point position and camera position to set point size
      gl_PointSize = (pointScale / -world.z);
    }
    </script>

    <script type='x-shader/x-fragment' id='fragment-shader'>
    /**
    * The fragment shader's main() function must define `gl_FragColor`,
    * which describes the pixel color of each pixel on the screen.
    *
    * To do so, we can use uniforms passed into the shader and varyings
    * passed from the vertex shader.
    *
    * Attempting to read a varying not generated by the vertex shader will
    * throw a warning but won't prevent shader compiling.
    **/

    #version 100
    #define SHADER_NAME instancedFragment
    #define SELECTING

    precision highp float;

    uniform float useColor;
    uniform float cellAtlasPxPerSide;
    uniform float lodAtlasPxPerSide;
    uniform float cellPxHeight;
    uniform float lodPxHeight;

    varying vec3 vColor;         // cell's color (for gpu picking)
    varying vec2 vOffset;        // cell's offset in px from left, top of tex
    varying float vWidth;        // cell's width in lod tex in px
    varying float vHeight;       // cell's height in lod tex in px
    varying float vOpacity;      // cell's opacity
    varying float vTextureIndex; // cell's texture index

    // textures contains an array of sampler2Ds
    #ifndef SELECTING
      uniform sampler2D textures[N_TEXTURES];
      uniform sampler2D lodTexture;
    #endif

    vec2 getCellWH(in float vWidth, in float vHeight, in float vTextureIndex) {
      // if this cell is from a cell atlas, its height is
      // lodPxHeight and width must be converted
      if (vTextureIndex > -0.5) {
        float h = cellPxHeight;
        float w = vWidth/vHeight*cellPxHeight;
        return vec2(w,h);
      } else {
        return vec2(vWidth,vHeight);
      }
    }

    void main() {
      vec2 wh = getCellWH(vWidth, vHeight, vTextureIndex);
      float w = wh[0];
      float h = wh[1];

      // if this cell's image is portrait clip right margin
      if (h > w && gl_PointCoord.x > (w/h)) discard;
      // if this cell's image is landscape clip bottom margin
      else if (w > h && gl_PointCoord.y > (h/w)) discard;

      // if this shader is using vColor attributes skip texture processing
      if (int(useColor) == 1) {
        gl_FragColor = vec4(vColor, 1.0);
      } else {
        vec2 uv = vOffset + gl_PointCoord * max(w, h);
        vec2 scaledUv = vTextureIndex > -0.5 ? uv/cellAtlasPxPerSide : uv/lodAtlasPxPerSide;
        int textureIndex = vTextureIndex > -0.5 ? int(vTextureIndex) : -1;

        TEXTURE_LOOKUP_TREE
        gl_FragColor.a = vOpacity;
      }
    }
    </script>

    <!-- Worker -->
    <script type='script/worker' id='worker'>
    self.onmessage = function(event) {
      self.workerIndex = event.data.workerIndex;
      if (event.data.message == 'load') {
        self.url = event.data.url;
        self.get(self.url, self.onSuccess, self.onErr)
      }
    };

    self.onSuccess = function(data) {
      // window.caches is a global store of web worker data
      caches.open(self.url).then(function(cache) {
        return cache.add(data);
      })

      self.postMessage({
        status: 'complete',
        workerIndex: self.workerIndex,
        url: self.url,
      })
    }

    self.onErr = function() {
      self.postMessage({
        status: 'error',
        workerIndex: self.workerIndex,
      })
    }

    self.onProgress = function(e) {
      self.postMessage({
        status: 'progress',
        workerIndex: self.workerIndex,
        loadPercent: e.loaded/e.total,
      })
    }

    self.get = function(url, success, err) {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
          xmlhttp.status === 200
            ? success(xmlhttp.responseText)
            : err(xmlhttp);
        };
      };
      xmlhttp.onprogress = self.onProgress;
      xmlhttp.open('GET', url, true);
      xmlhttp.send();
    }
    </script>

    <!-- Header -->
    <header class='header'>
      <img class='logo' src='assets/images/dhlab-logo.svg' alt='DHLab logo' />
      <div class='app-name'>PixPlot</div>
      <div class='tagline'>Image fields in a Local Collection</div>
      <div class='header-controls'>
        <div class='filter-icons' id='filters'></div>
      </div>
    </header>
    <!-- Loader -->
    <div id='loader-scene'>
      <p class='welcome'>This page visualizes a large image collection within an interactive WebGL scene. Each image was processed with an <a href='https://www.cs.unc.edu/~wliu/papers/GoogLeNet.pdf' target='_blank'>Inception</a> Convolutional Neural Network, trained on <a href='http://image-net.org/challenges/LSVRC/2012/' target='_blank'>ImageNet 2012</a>, and projected into a two-dimensional manifold with the <a href='https://github.com/lmcinnes/umap' target='_blank'>UMAP</a> algorithm such that similar images appear proximate to one another.</p>
      <div class='loader-container'>
        <div class='loader-icon'>
          <div class='blocks'>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
          </div>
        </div>
        <div id='loader-text'>
          <span id='progress'>0%</span>
        </div>
      </div>
      <button id='enter-button'>Enter</button>
    </div>
    <!-- Canvas -->
    <div id='canvas-container'>
      <div id='canvas-target'></div>
    </div>
    <!-- Hotspot Navigation -->
    <nav>
      <div class='nav-inner'>
        <h2>Hotspots</h2>
        <div id='hotspots'></div>
        <script type='text/html' id='hotspot-template'>
          <% _.forEach(hotspots, function(hotspot) { %>
            <div class='hotspot'>
              <div class='background-image'
                style='background-image: url("data/thumbs/<%= hotspot.img %>")'></div>
              <div><%= hotspot.label %></div>
            </div>
          <% }); %>
        </script>
      </div>
    </nav>
    <!-- Selected Image -->
    <div id='selected-image-modal'>
      <div class='backdrop'></div>
      <div id='selected-image-container'>
        <img id='selected-image' src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' alt='Image selected by user' />
        <div class='icons'>
          <a target='_blank' id='eye-icon' href='#'>
            <img src='assets/images/icons/eye-icon.png' alt='eye icon' />
          </a>
          <a id='download-icon' href='#'>
            <img src='assets/images/icons/download-icon.png' alt='download icon' />
          </a>
          <a id='copyright-icon' href='#'>
            <img src='assets/images/icons/copyright-icon.png' alt='copyright icon' />
          </a>
        </div>
      </div>
      <!-- Selected Image Metadata -->
      <div id='selected-image-meta'>
        <div class='meta-content'>
          <div class='meta-left'>
            <div id='image-title'>Full Image Title Here</div>
            <div id='image-text'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
          </div>
          <div class='meta-right'>
            <script type='text/html' id='tag-template'>
              <% _.forEach(tags, function(tag) { %>
                <div class='meta-tag'><%- tag %></div>
              <% }); %>
            </script>
            <div id='meta-tags'></div>
            <div class='meta-input-container'>
              <input id='meta-input' placeholder='New tags' />
              <div id='meta-input-add'>Add</div>
              <div class='pencil-icon'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Webgl / Noscript Warnings -->
    <div id='webgl-not-available'>
      <div class='browser-message'>Sorry, your browser is not able to load a WebGL scene currently. Please check your browser settings and try again.</div>
    </div>
    <noscript>
      <span class='browser-message'>Sorry, your browser is not able to load a WebGL scene currently. Please enable JavaScript and try again.</span>
    </noscript>
    <script type='text/javascript' src='assets/vendor/dist/three.min.js'></script>
    <script type='text/javascript' src='assets/vendor/dist/lodash.min.js'></script>
    <script type='text/javascript' src='assets/js/object-assign-polyfill.js'></script>
    <script type='text/javascript' src='assets/vendor/dist/tweenlite.min.js'></script>
    <script type='text/javascript' src='assets/vendor/dist/trackball-controls.min.js'></script>
    <script type='text/javascript' src='assets/vendor/dist/texture-loader.min.js'></script>
    <script type='text/javascript' src='assets/vendor/dist/stats.min.js'></script>
    <script type='text/javascript' src='assets/js/tsne.js'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101732875-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>