* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body,
html,
canvas {
  overflow: hidden;
  height: 100%;
}

body,
html {
  background: #000;
}

canvas {
  transition: opacity 3s;
}

a {
  text-decoration: none;
  color: #eab755;
  display: inline-block;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  color: #333131;
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #c3c3c3;
  background-image: url(/assets/images/icons/caret-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95%;
  min-width: 120px;
}

select::-ms-expand {
  display: none;
}

/**
* Header
**/

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 2px 1px 2px #000;
}

.header,
.logo {
  background: #333;
}

.logo {
  width: 40px;
  padding: 10px;
  height: 40px;
}

.app-name,
.tagline {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 18px 34px;
  box-sizing: border-box;
  font-weight: 300;
}

.app-name {
  background: #444;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.tagline {
  color: #999;
  font-size: 1em;
  padding-top: 20px;
  font-weight: 400;
  letter-spacing: .025em;
}

@media(max-width: 335px) {
  .header .logo {
    display: none;
  }

  .header .app-name {
    width: 100%;
    text-align: center;
    padding: 18px 0;
  }
}

/**
* Header Controls
**/

.header-controls {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 400px;
}

.filter-icons {
  position: relative;
  top: 16px;
  display: inline-block;
}

.layout-icons {
  margin: 20px 40px 0;
  display: inline-block;
  float: right;
}

.layout-icons img {
  width: 21px;
  margin: 0 8px;
  opacity: 0.45;
  cursor: pointer;
}

.layout-icons img.active {
  opacity: 1;
}

/**
* Nav
**/

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: auto;
  box-sizing: border-box;
  padding: 60px 0 0;
  background: rgba(17,17,17,0.9);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.7);
  transition: transform .5s;
  color: #ddd;
}

nav.hidden {
  transform: translateX(-210px);
}

.nav-inner {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
  background: #222;
}

nav h2 {
  font-size: 0.9em;
  line-height: 1.05em;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}

#hotspots {
  padding-bottom: 25px;
}

.hotspot {
  padding: 6px 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 80px;
  font-size: 13px;
}

.hotspot .background-image {
  padding-bottom: 110%;
  background-position: 50% 11%;
  margin: 0 5%;
  background-repeat: no-repeat;
}

/**
* Loader
**/

#loader-scene {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10%;
  transition: transform 2s;
  z-index: 3;
  background: #000;
}

#loader-scene.hidden {
  transform: translateY(-1000vh);
}

#loader-text {
  margin: 20px auto;
  text-align: center;
}

.welcome {
  max-width: 700px;
  margin: 0 auto;
}

/**
* Enter button
**/

button {
  border: none;
  background: #eab755;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  opacity: 0.4;
  transition: opacity .3s;
  cursor: pointer;
}

button.active {
  opacity: 1;
}

/**
* Browser messages
**/

#webgl-not-available {
  text-align: center;
  display: none;
}

noscript {
  text-align: center;
  display: block;
  width: 100%;
}

.browser-message {
  position: relative;
  top: 90px;
  z-index: 100;
  background: #c62d1e;
  color: #fff;
  padding: 12px 17px;
  font-size: 17px;
}

/**
* Selected Image modal
**/

#selected-image-modal {
  position: absolute;
  top: 60px;
  left: 100px;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 100%;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}

.modal-image-sizer {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 260px;
  right: 0;
}

.modal-content {
  display: inline-block;
  height: 100%;
  transition: transform 0.5s;
  white-space: nowrap;
}

#selected-image {
  max-height: 100%;
  padding: 25px;
  box-sizing: border-box;
}

/**
* Selected Image Actions
**/

.icons {
  display: inline-block;
  width: 50px;
  position: relative;
  bottom: 20px;
  white-space: initial;
}

.icons * {
  height: 32px;
  background: #cecbcb;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

/**
* Selected Image Meta
**/

#selected-image-meta {
  position: absolute;
  bottom: 0;
  left: 100px;
  right: 0;
  z-index: 2;
}

.meta-content {
  padding: 24px 40px;
  background: #353535;
  color: #f9f9f9;
  transition: transform 0.3s;
}

#image-title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
}

#image-text {
  font-size: 13px;
  font-weight: 300;
  max-height: 73px;
  overflow: auto;
  padding-right: 15px;
}

.meta-left {
  width: 50%;
  display: inline-block;
  padding-right: 100px;
}

.meta-right {
  display: inline-block;
  vertical-align: top;
  max-width: 40%;
}

@media (max-width: 1250px) {
  .meta-left: {
    width: 40%;
  }

  .meta-right {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .meta-left {
    width: 100%;
  }

  .meta-right {
    width: 100%;
  }
}

/**
* Metadata tags
**/

#meta-tags {
  margin: 0 -2px 10px;
}

.meta-tag {
  display: inline-block;
  padding: 2px 6px;
  margin: 2px;
  background: #555;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
}

/**
* Metadata input
**/

.meta-input-container {
  width: 250px;
}

.meta-input-container * {
  vertical-align: top;
}

#meta-input {
  background: #d8d8d8;
  border: none;
  padding: 6px;
  font-size: 14px;
}

#meta-input::placeholder {
  color: #888;
  opacity: 1;
}

#meta-input-add {
  background: #666;
  display: inline-block;
  padding: 0.55em 10px;
  margin-left: -4px;
  cursor: pointer;
  font-size: 13px;
}

/**
* Show / Hide Selected Image
**/

#selected-image-modal,
#selected-image-meta {
  display: none;
}