* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body,
html,
canvas {
  background: #000;
  overflow: hidden;
}

canvas {
  transition: opacity 3s;
}

a {
  text-decoration: none;
  color: #eab755;
  display: inline-block;
}

/***
* Header
***/

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 1px 5px #000;
}

.header,
.logo {
  background: #333;
}

.logo {
  width: 40px;
  padding: 10px;
  height: 40px;
}

.app-name,
.tagline {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 18px 34px;
  box-sizing: border-box;
  font-weight: 300;
}

.app-name {
  background: #444;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.tagline {
  color: #999;
  font-size: 1em;
  padding-top: 20px;
  font-weight: 400;
  letter-spacing: .025em;
}

@media(max-width: 335px) {
  .header .logo {
    display: none;
  }

  .header .app-name {
    width: 100%;
    text-align: center;
    padding: 18px 0;
  }
}

/**
* Nav
**/

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: auto;
  box-sizing: border-box;
  padding: 72px 0 0;
  background: rgba(17,17,17,0.9);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.7);
  transition: transform .5s;
  color: #ddd;
}

nav.hidden {
  transform: translateX(-210px);
}

.nav-inner {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 10px;
}

.nav-inner::-webkit-scrollbar {
    -webkit-appearance: none;
}

nav h2 {
  font-size: 0.9em;
  line-height: 1.05em;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.hotspot {
  padding: 6px 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 80px;
  font-size: 13px;
}

.hotspot .background-image {
  padding-bottom: 110%;
  background-position: 50% 11%;
  margin: 0 5%;
  background-repeat: no-repeat;
}

/**
* Loader
**/

.loader-scene {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10%;
  transition: transform 2s;
  z-index: 2;
  background: #000;
}

.loader-scene.hidden {
  transform: translateY(-100vh);
}

.welcome {
  max-width: 700px;
  margin: 0 auto;
}

/**
* Loader icon
**/

.loader-container {
  max-width: 70px;
  margin: 30px auto;
  text-align: center;
}

.loader-icon {
  width: 70px;
  height: 70px;
}

.block {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #eab755;
  transition: all 0.8s;
  animation: rot 5s linear infinite;
  animation-fill-mode: forwards;
}

.block:nth-child(1) {
  animation-delay: 3s;
}

.block:nth-child(2) {
  animation-delay: 1.5s;
  animation: rot 15s linear infinite;
}

.block:nth-child(3) {
  animation-delay: 2s;
}

.block:nth-child(4) {
  animation-delay: 0.2s;
}

.block:nth-child(5) {
  animation-delay: 4s;
}

.block:nth-child(6) {
  animation-delay: 2s;
  animation: rot 7s linear infinite;
}

.block:nth-child(7) {
  animation-delay: 0.4s;
}

.block:nth-child(8) {
  animation-delay: 1.5s;
  animation: rot 6s linear infinite;
}

.block:nth-child(9) {
  animation-delay: 25s;
  animation: rot 8s linear infinite;
}

@keyframes rot {
  0% {
    transform: none;
  }
  20% {
    transform: rotateZ(-90deg) rotateY(180deg);
  }
  40% {
    background: chocolate;
    transform: none;
  }
  60% {
    background: white
  }
  80% {
    background: cornflowerblue;
  }
  90% {
    transform: none;
    background: #222;
  }
}

@keyframes exit {
  0% {
    transform: translateX(0);
    animation-iteration-count: 1;
  }
  1% {
    transform: translateX(500vw);
    animation-iteration-count: 1;
  }
}

#progress {
  margin-top: 5px;
  transition: opacity 0.5s;
}

/**
* Enter button
**/

button {
  border: none;
  background: #eab755;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  opacity: 0.4;
  transition: opacity .3s;
  cursor: pointer;
}

button.active {
  opacity: 1;
}
