* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body,
html,
canvas {
  overflow: hidden;
  height: 100%;
}

body,
html {
  background: #000;
}

canvas {
  transition: opacity 3s;
}

a {
  text-decoration: none;
  color: #eab755;
  display: inline-block;
}

/**
* Header
**/

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 2px 1px 2px #000;
}

.header,
.logo {
  background: #333;
}

.logo {
  width: 40px;
  padding: 10px;
  height: 40px;
}

.app-name,
.tagline {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 18px 34px;
  box-sizing: border-box;
  font-weight: 300;
}

.app-name {
  background: #444;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.tagline {
  color: #999;
  font-size: 1em;
  padding-top: 20px;
  font-weight: 400;
  letter-spacing: .025em;
}

@media(max-width: 335px) {
  .header .logo {
    display: none;
  }

  .header .app-name {
    width: 100%;
    text-align: center;
    padding: 18px 0;
  }
}

/**
* Nav
**/

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: auto;
  box-sizing: border-box;
  padding: 60px 0 0;
  background: rgba(17,17,17,0.9);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.7);
  transition: transform .5s;
  color: #ddd;
}

nav.hidden {
  transform: translateX(-210px);
}

.nav-inner {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}

nav h2 {
  font-size: 0.9em;
  line-height: 1.05em;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.hotspot {
  padding: 6px 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 80px;
  font-size: 13px;
}

.hotspot .background-image {
  padding-bottom: 110%;
  background-position: 50% 11%;
  margin: 0 5%;
  background-repeat: no-repeat;
}

/**
* Loader
**/

#loader-scene {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10%;
  transition: transform 2s;
  z-index: 2;
  background: #000;
}

#loader-scene.hidden {
  transform: translateY(-1000vh);
}

#loader-text {
  margin: 20px auto;
  text-align: center;
}

.welcome {
  max-width: 700px;
  margin: 0 auto;
}

/**
* Enter button
**/

button {
  border: none;
  background: #eab755;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  opacity: 0.4;
  transition: opacity .3s;
  cursor: pointer;
}

button.active {
  opacity: 1;
}

/**
* Browser messages
**/

#webgl-not-available {
  text-align: center;
  display: none;
}

noscript {
  text-align: center;
  display: block;
  width: 100%;
}

.browser-message {
  position: relative;
  top: 90px;
  z-index: 100;
  background: #c62d1e;
  color: #fff;
  padding: 12px 17px;
  font-size: 17px;
}
